<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mabel.mapper.UserMapper">
    <sql id="table_name">user</sql>
    <sql id="columns">
        `id`, `user_name`, `password`, `name`, `email`, `phone`, `id_code`, `create_time`, `update_time`, `latest_login_time`, `disabled`
    </sql>
    <select id="queryUserById" parameterType="java.lang.Integer" resultType="com.mabel.pojo.model.user.User">
        select <include refid="columns"/>
        from <include refid="table_name"/>
        where `id` = #{userId}
    </select>
</mapper>